.social-link {
  width: 3rem;
  height: 3rem;
  background-color: rgb(30, 41, 59);
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(148, 163, 184);
  text-decoration: none;
  transition: all 0.2s;
}

.social-link:hover {
  background-color: rgba(52, 211, 153, 0.2);
  color: rgb(52, 211, 153);
}
